---
import Footer from "src/components/astro/Footer.astro";
import Navigation from "src/components/astro/Navigation.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SuperStore</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?" />
  </head>
  <body>
    <div class="flex flex-col justify-between min-h-[100vh]">
      <Navigation />
      <div class="m-auto">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
